{% extends "material/base.html" %}
{% block content %}

<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css" rel="stylesheet" />
  <title>Femzo: Register</title>
  </head>
<body class="blue-grey lighten-5">
    <nav class="red lighten-2">
      <div class="nav-wrapper">
        <ul id="nav-mobile" class="left hide-on-med-and-down">
          <li><img src="/static/logo.jpeg" height="65"></li>
          <li><a href="/home" class="brand-logo hoverable">FEMZO</a></li>
        </ul>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="/login" class="hoverable">Login</a></li>
          <li><a href="/register" class="hoverable">Register</a></li>
        </ul>
      </div>
    </nav>

    <div class="row">
      <div class="col s10 offset-s1">
        <div class="card-image parallax-container">
          <img src="static/cover.jpeg">
        </div>
      </div>
    </div>
    <br><br><br>
<!-- 
      <div class="carousel">
    <a class="carousel-item" href="#one!"><img src="static/clip1.jpeg"></a>
    <a class="carousel-item" href="#two!"><img src="static/clip2.jpeg"></a>
    <a class="carousel-item" href="#three!"><img src="static/clip3.jpeg"></a>
    <a class="carousel-item" href="#four!"><img src="https://lorempixel.com/250/250/nature/4"></a>
    <a class="carousel-item" href="#five!"><img src="https://lorempixel.com/250/250/nature/5"></a>
  </div> -->

<!--   <div class="parallax-container">
      <div class="parallax"><img src="static/cover.jpeg"></div>
  </div>
 -->
  <div class="container">
  <h5> <p align="center"> <b>Femzo</b> is a platform for women who have been the victims of sexual assault or molestation. We can provide free or paid services that can help you face social and emotional hardships.</p></h5>
  </div>
  <br><br>
  <div class="row">
    <div class="col s2 offset-s2">
      <div class="card hoverable">
        <div class="card-image">
          <img src="static/clip1.jpeg" height="300" width="20">
        </div>
        <div class="card-content">
          <span class="card-title black-text"><h4>Counselling</h4></span>
          <h5><p>Pairing with counsellor who can help you mitigate the stress and anxiety.</p></h5>
        </div>
        <div class="card-action">
          <!-- <a href="#">This is a link</a> -->
        </div>
      </div>
    </div>

        
  <div class="row">
    <div class="col s2 offset-s1">
      <div class="card hoverable">
        <div class="card-image">
          <img src="static/clip2.jpeg" height="300" width="20">
        </div>
        <div class="card-content">
          <span class="card-title black-text"><h4>Litigation</h4></span>
          <h5><p>Pairing with lawyers who can help you with lawsuits and other legal proceedings.</p></h5>
        </div>
        <div class="card-action">
          <!-- <a href="#">This is a link</a> -->
        </div>
      </div>
    </div>


  <div class="row">
    <div class="col s2 offset-s1">
      <div class="card hoverable">
        <div class="card-image">
          <img src="static/clip3.jpeg" height="300" width="20">
        </div>
        <div class="card-content">
          <span class="card-title black-text"><h4>Podcasts</h4></span>
          <h5><p>A weekly podcast by a speacial guest to help you with self upliftment.</p></h5>
        </div>
        <div class="card-action">
          <!-- <a href="#">This is a link</a> -->
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<br>
<h4> <p align="center"> All the while keeping your identity confidential </p></h4>

<br><br><br><br>




      <!-- CODE FOR FOOTER -->
<footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">About Us</h5>
                <p class="grey-text text-lighten-4">This website a part of the final project submitted for the course Technology Innovation CSCI5193</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Meet the team behind Femzo</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="https://www.linkedin.com/in/rahul1205/">Rahul Anand</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!"></a></li>
                  <li><a class="grey-text text-lighten-3" href="https://www.linkedin.com/in/guneet-singh-dhillon/">Guneet Singh Dhillon</a></li>

                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            We have used Materialize CSS (https://materializecss.com/)
            <a class="grey-text text-lighten-4 right" href="#!"></a>
            </div>
          </div>
        </footer>

{% endblock %}